providers = ["python"]

[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "python3 -m uvicorn api:app --host 0.0.0.0 --port ${PORT:-8080}"